<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "..//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CartDAO">
	<resultMap type="cart" id="cartResult">
		<result property="cart_id" column="cart_id"/>
		<result property="orderer_id" column="orderer_id"/>
		<result property="product_id" column="product_id"/>
		<result property="order_quantity" column="order_quantity"/>
	</resultMap>
	<resultMap type="product" id="productResult">
		<result property="product_id" column="product_id"/>
		<result property="product_category" column="product_category"/>
		<result property="product_name" column="product_name"/>
		<result property="product_brand" column="product_brand"/>
		<result property="product_size" column="product_size"/>
		<result property="product_color" column="product_color"/>
		<result property="product_price" column="product_price"/>
		<result property="discount_rate" column="discount_rate"/>
		<result property="product_stock" column="product_stock"/>
		<result property="product_image" column="product_image"/>
		<result property="product_detail" column="product_detail"/>
		<result property="reg_date" column="reg_date"/>
	</resultMap>
	
	<select id="insertCart">
		<![CDATA[
		insert into cart(cart_id, orderer_id, product_id, order_quantity) 
		values(SEQ_CART.nextval, #{orderer_id}, #{product_id}, #{order_quantity})
		]]>
	</select>
	
	<select id="deleteCart">
		<![CDATA[
		delete from cart where cart_id=#{cart_id}
		]]>
	</select>
	
	<select id="deleteCartOrderer">
		<![CDATA[
		delete from cart where orderer_id=#{orderer_id}
		]]>
	</select>
	
	<select id="getCart" resultMap="cartResult">
		<![CDATA[
		select * from cart where cart_id=#{cart_id}
		]]>
	</select>
	
	<select id="getCartList" resultMap="cartResult">
		<![CDATA[
		select * from cart inner join product
		on cart.product_id = product.product_id
		where orderer_id = #{orderer_id}
		order by orderer_id desc
		]]>
	</select>
</mapper>					